.footer {
    .footer-social {
        padding: 32px 128px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 850px) {
            padding: 22px 60px; 
        }
        @media (max-width: 700px) {
            padding: 22px 40px; 
        }
        @media (max-width: 420px) {
            padding: 16px 20px; 
        }
        @media (max-width: 360px) {
            padding: 16px 15px; 
        }
        .footer-social_logo {
            @media (max-width: 420px) {
                width: 70px;
            }  
        }
        .footer-social_links {
            display: flex;
            margin-left: 46px;
            @media (max-width: 1000px) {
                margin-left: 0px;
            }
            a {
                color: #9babb8;
                margin-right: 23px;
                transition: 0.5s;
                @media (max-width: 540px) {
                    margin-right: 15px;
                }
                @media (max-width: 360px) {
                    margin-right: 12px;
                }
                &:hover {
                    color: black;
                }
                &:nth-child(3),
                &:nth-child(4) {
                    margin-right: 28px;
                    @media (max-width: 540px) {
                        margin-right: 15px;
                    }
                    @media (max-width: 360px) {
                        margin-right: 12px;
                    }
                }
                &:nth-child(6),
                &:nth-child(7) {
                    margin-right: 25px;
                    @media (max-width: 540px) {
                        margin-right: 15px;
                    }
                    @media (max-width: 360px) {
                        margin-right: 12px;
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
                svg {
                    width: 18px;
                    height: 18px;
                    @media (max-width: 420px) {
                        width: 14px;
                        height: 14px;
                    }
                }
                img {
                    min-width: 18px;
                    height: 18px;
                    @media (max-width: 420px) {
                        min-width: 14px;
                        height: 14px;
                    }
                }
            }
        }
        .footer-social_empty {
            width: 99px;
            @media (max-width: 1000px) {
                display: none;
            }
        }
    }
    .footer-main {
        padding: 42px 147px 42px 121px;
        font-size: 12px;
        font-family: "Cera";
        color: rgba(0, 18, 51, 0.6);
        line-height: 1.667;
        background-color: #f7f8fa;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1000px) {
            padding: 42px 128px 42px 128px;
        }
        @media (max-width: 850px) {
            padding: 26px 60px;
        }
        @media (max-width: 700px) {
            padding: 26px 40px;
        }
        @media (max-width: 640px) {
            font-size: 10px;
        }
        @media (max-width: 540px) {
            align-items: center;
            padding: 14px 40px;
        }
        @media (max-width: 420px) {
            padding: 14px 20px;
        }
        @media (max-width: 360px) {
            padding: 14px 15px;
        }
        a {
            text-decoration: none;
            color: rgba(0, 18, 51, 0.6);
            margin-right: 28px; 
            @media (max-width: 850px) {
                margin-right: 14px; 
            }
            @media (max-width: 540px) {
                display: flex;
                flex-direction: column;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}